extends layout

block content
    form.form-inline.mb-4(action="/collections?database=" + database method="POST")
        div.center
            input.form-control.ml-2.mr-2(type="text" name="collectionName" placeholder="Collection name...")
            button.btn.btn-primary(type="submit")= "Create"

    table.table.table-striped.table-bordered
        tr
            th.text-center.col-sm-10= "Collection"
            th.text-center.col-sm-2= "View"
        each collection in collections
            tr
                td= collection.name
                td.text-center
                    a.btn.btn-success.col-sm-12(role="button" href="/documents?database=" + database + "&collection=" + collection.name)= ">"
