extends layout

block content
    a.btn.btn-success.col-sm-12.mt-3.mb-3(role="button" href="/documents/new?database=" + database + "&collection=" + collection)= "New document >"

    each document, index in documents
        h5= "Document " + index + " - ID: " + document._id

        table.table.table-striped.table-bordered.m-4
            tr
                th.text-center.col-sm-10= "Document"
                th.text-centet.col-sm-2= "View"
            tr
                td
                    pre
                        code.language-json.wrap= JSON.stringify(document, null, 4)
                td.align-middle
                    a.btn.btn-success.col-sm-12(role="button" href="#")= ">"
