extends layout

block content
    form.form-inline.mb-4(action="/databases" method="POST")
        div.center
            input.form-control.ml-2.mr-2(type="text" name="databaseName" placeholder="Database name...")
            input.form-control.ml-2.mr-2(type="text" name="collectionName" placeholder="Collection name...")
            button.btn.btn-primary(type="submit")= "Create"

    table.table.table-striped.table-bordered
        tr
            th.text-center.col-sm-10= "Database"
            th.text-center.col-sm-2= "View"
        each database in databases
            tr
                td= database.name
                td.text-center
                    a.btn.btn-success.col-sm-12(role="button" href="/collections?database=" + database.name)= ">"
